 section {
     width: 440px;
     margin: auto;
     background-color: rgb(94, 131, 163);
 }
 
 #lienzo {
     width: 400px;
     height: 400px;
     margin: 15px 20px;
     background-color: #4e0a0a;
 }